# ===================
# Backend - Spring Boot / Java
# ===================

# Maven / Gradle build folders
/backend/target/
/build/
/out/
/*.jar
/*.war

# Logs
*.log

# Environment / secrets
application*.yml
application*.properties
.env

# IDEs
# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===================
# Frontend - React / Node
# ===================
/dashboard-frontend/node_modules/
/dashboard-frontend/build/
/dashboard-frontend/.env

# ===================
# OS / System
# ===================
.DS_Store
Thumbs.db