body{
    background:#f4f7fb;
}

.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:420px;
    border-radius:15px;
}

.login-title{
    font-weight:bold;
    color:#0d6efd;
}

.login-subtitle{
    color:gray;
    margin-bottom:20px;
}